<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Admin Index</title>
</head>

<body>

<div class="container">

    <h3>Admin Index Page</h3>
    <hr>

    <div>
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>

    <form th:action="@{/search}" class="form-inline">
        <a th:href="@{/members/showFormForAdd}"
           class="btn btn-primary btn-sm mr-5 mb-3">
            Add Employee
        </a>

        <input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="memberName" placeholder="Search by name" />

        <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempMember : ${members}">
            <td th:text="${tempMember.firstName}" />
            <td th:text="${tempMember.lastName}" />
            <td th:text="${tempMember.email}" />
        </tr>
        </tbody>
    </table>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>

</div>

</body>
</html>



